<ion-header>
  <ion-toolbar><ion-img src="../assets/image/a.png"  width='70px' height='2px' style="float:left; margin-left:2%;top:'550px';"></ion-img>
    <ion-title  color="primary">
   الصفحة الرئيسية
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
    <!-- <ion-img class="aaaa" src="../assets/image/bb.png"></ion-img>
    <div class="ion-text-justify" style="margin-right:6px;">

  صمّم هذا التطبيق "تشريعية 2019" للسماح للمواطنين بمتابعة الحملة الانتخابية المتعلقة بالانتخابات التشريعية 2019 بشكل أفضل، أسهل وأوضح.
يمكّن هذا التطبيق من التعرف على القائمات الانتخابية المترشحة وذلك في كل الدائرات الانتخابية، ويوفر أيضا التطبيق "تشريعية 2019" العديد من المعلومات المتعلقة بالقوائم المترشحة.
  كما يقدم هذا التطبيق نتائج الانتخابات فور صدورها
 </div>


 <div class="img1">
    <ion-img src="../assets/image/logo1.png" width="20%"></ion-img>
  </div>

  <div style="margin-right:6px;  color: #ffffff;text-align: start;text-align:center;top: 500px;position: absolute;font-family: 'Cairo', sans-serif;direction: rtl;">
  تدعم هذا البرنامج للمنظمة الدولية للتقرير عن الدّيمقراطيّة وزارة الشؤون الخارجية للجمهورية الفدرالية الألمانية               
</div> -->

</ion-content>


<ion-tab-bar slot="bottom"  color="warning">
  <ion-tab-button  class="image" routerLink="/resultat">
    <ion-img class="labb" src="../assets/image/1a.png" color="primary"></ion-img>
    <ion-label class="lab" color="light">النتائج
    </ion-label>
  </ion-tab-button>

<ion-tab-button routerLink="/liste">
  <ion-img class="labb" src="../assets/image/2a.png" color="primary"></ion-img>
<ion-label class="lab" color="light">القائمات
</ion-label>
</ion-tab-button>

<ion-tab-button  routerLink="/client">
  <ion-img class="labb" src="../assets/image/3a.png" color="primary"></ion-img>
<ion-label class="lab" color="light">من نحن
</ion-label>
</ion-tab-button>

<ion-tab-button  routerLink="/home">
  <ion-img class="labb" src="../assets/image/4a.png" color="primary"></ion-img>
  <ion-label class="lab" color="primary">تشريعية 2019
  </ion-label>
</ion-tab-button>
</ion-tab-bar>